<div *ngIf="event" class="container mt-5">
  <div class="rating-container">
    <div class="rating">
      <span class="star" *ngFor="let star of stars; let i = index" (click)="rateEvent(i + 1)">
        <i [class.fas]="i < currentRating" [class.far]="i >= currentRating" class="fa-star"></i>
      </span>
    </div>
  </div>
  
  <h2>{{ event.title }}</h2>
  <img [src]="event.photo" alt="Event image" class="img-fluid">
  <p><strong>Category:</strong> {{ event.category }}</p>
  <p><strong>Date:</strong> {{ event.startDate }} - {{ event.endDate }}</p>
  <p><strong>Location:</strong> {{ event.location }}</p>
  <p>{{ event.description }}</p>
  
  <button class="btn btn-primary">Subscribe Now</button>
  <div *ngIf="similarEvents.length > 0" class="similar-events mt-5">
    <h3>Similar Events</h3>
    <div class="event-card" *ngFor="let similarEvent of similarEvents">
      <img [src]="similarEvent.photo" alt="Event image" class="img-fluid">
      <h4>{{ similarEvent.title }}</h4>
      <p>{{ similarEvent.description }}</p>
      <p><strong>Category:</strong> {{ similarEvent.category }}</p>
      <p><strong>Date:</strong> {{ similarEvent.startDate }} - {{ similarEvent.endDate }}</p>
      <a [routerLink]="['/events', similarEvent.id]" class="btn btn-primary">View Details</a>
    </div>
  </div>
</div>
